.CustomDiv{
    
    height: 92%;
    /* background-color: chocolate; */
    background-color:white;
    text-shadow: black;
    border:1px solid black;
    color: black;
    
    
    margin: 1%;
    
}